.game
    margin 0 auto
    width 100%

    .game-instructions
        $border($red, 10px)
        $borderRadius(10px, 0px, 0px, 10px)
        $center(0, 90%)

        p
            text-align center
            font-size 0.8em
            margin 10px

            &.title
                font-weight $fontWeightBold
                color $blue

            &.score
                color $yellow

        .score
            $center()
            font-size 0.8em
            list-style decimal
            margin-bottom 10px
            width 165px

            li
                padding-bottom 5px

    .game-board
        $border($yellow, 10px)
        $center(0, 90%)

        .game-board-counters
            .box
                $center(0, 150px)
                $font('DS-Digital', 0.8em)

                input
                    $border($blue)
                    $font('DS-Digital', 2em)
                    background-color $black
                    height 40px
                    margin 10px
                    text-align center
                    width 40px

                    &.hits
                        color $yellow

                    &.time
                        color $red

    .game-grid
        $border($blue, 10px)
        $borderRadius(0px, 10px, 10px, 0px)
        $center(0, 90%)
        $pointer()
        padding-bottom 10px
        padding-top 10px

        .game
            $resetUl()
            $center(0, 298px)
            $clearfix()
            margin-bottom 5px

            li
                $border($white)
                $borderRadius(100%)
                float left
                height 60px
                margin-right 10px
                margin-bottom 10px
                position relative
                width 60px

                &:nth-child(1)
                &:nth-child(5)
                &:nth-child(9)
                    margin-left 5px

                &.active
                    &:before
                        $icon('f113', $white, 2em)
