/* Reset CSS (Nib) */
global-reset()

/* Global Styles */
body
    $font('Open Sans', 1em, $white)
    background-color $black

    a
        color $white
        text-decoration none

        &:hover
            color $yellow
