/* Reset CSS (Nib) */
global-reset()

/* Global Styles */
body
    $font('Open Sans', 1em, $white)
    background-color $black
    user-select none

    a
        color $white
        text-decoration none

        &:hover
            color $yellow

/* Global classes */
.no-display
    display none
