/* Vendors Prefixes */
vendor-prefixes = o ms moz webkit khtml official

/* General Colors */
$darkGray    = #333
$gray        = #999
$lightGray   = #EEE
$white       = #FFF
$almostWhite = #F5F5F5
$black       = #000
$yellow      = #F6D42A
$red         = #EA2E2D
$blue        = #00A2D9

/* Font weights */
$fontWeightLighter = 100
$fontWeightLight   = 300
$fontWeightNormal  = 400
$fontWeightRegular = 500
$fontWeightBold    = 700
$fontWeightHeavy   = 900
