/* Importing Nib */
@import 'nib'

/* Third parties */
@import url('../bower_components/font-awesome/css/font-awesome.min.css')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,700')

/* Mixins */
@import 'mixins/_utils'

/* Variables, fonts & global styles */
@import '_vars'
@import '_fonts'
@import '_global'

/* Site styles */
@import 'site/_header'
@import 'site/_game'
@import 'site/_footer'
